# Cấu hình kết nối PostgreSQL (Docker hoặc Local)
POSTGRES_USER=olist_Kin
POSTGRES_PASSWORD=your_secure_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=olist

# Cấu hình nếu cần chạy qua Docker
POSTGRES_PORT_DOCKER=5432
POSTGRES_DB_DOCKER=olist
