# Environment
.env
.venv/
venv/
env/

# Data
data/raw/*.csv
data/raw/*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Great Expectations
gx/
uncommitted/
